apiVersion: apps/v1
kind: Deployment
metadata:
  name: was-app
  namespace: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: was
  template:
    metadata:
      labels:
        app: was
    spec:
      volumes:
      - name: was-env-cors
        configMap:
          name: was-env-cors
          items:
          - key: bootstrap.py
            path: bootstrap.py

      containers:
      - name: was
        image: soloud1025/soloud-was   # GitHub Actions에서 자동 교체
        imagePullPolicy: Always
        ports:
        - containerPort: 8000

        env:
        - name: PYTHONPATH
          value: /opt/bootstrap:/app:${PYTHONPATH}
        - name: FLASK_APP_MODULE
          value: app
        - name: ALLOWED_ORIGIN
          value: "*"
        - name: REDIS_HOST
          value: my-redis-master.caching.svc.cluster.local
        - name: REDIS_PORT
          value: "6379"

        volumeMounts:
        - name: was-env-cors
          mountPath: /opt/bootstrap/bootstrap.py
          subPath: bootstrap.py

        readinessProbe:
          httpGet:
            path: /api/ping
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /api/ping
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10

