apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: was-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/soloud1025/soloud-manifests.git'
    targetRevision: main
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true

